<div class="header">
  <h1>bem vindo ao sistema de consulta e tempo</h1>
  <h3>Digite o nome de sua cidade abaixo e buscaremos a previsão do tempo para hoje</h3>
  
  <form  #f='ngForm' >
  <input type="text"   ngModel name="city_name" >
  <button class="search-button" (click)="submit(f)">Consultar</button>
  </form>

</div>

<div class="body">

  <h3 *ngIf='resultFound'>Temperatura do tempo em {{currentWeather.name}}</h3>
<table *ngIf='resultFound'>
  <tbody>
    <tr>
      <td>
        <h5>Temperatura Atual:</h5>
      </td>
      <td>
        <p>{{currentWeather.main?.temp -  273.15 | number:'1.0-0'}} C</p>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Temperatura mínima:</h5>
      </td>
      <td>
        <p>{{currentWeather.main?.temp_min - 273.15 | number:'1.0-0'}} C</p>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Temperatura máxima:</h5>
      </td>
      <td>
        <p>{{currentWeather.main?.temp_max - 273.15 | number:'1.0-0'}} C</p>
      </td>
    </tr>
  </tbody>
</table>
</div>